<h3>Tostr Service for Notify</h3>
<p>this service is cloned from github repo https://github.com/CodeSeven/toastr</p>

<p>first of all you need to copy the minified css and script path from above repo and include it in your index.html file as link in header</p>
<p>Also include the jquey code to your index.html file before our script tag of tostr service</p>
<p>from https://code.jquery.com/ copy the minified code of jquey 2.x and use it according to above info</p>
<p>the link for  tutorial for this serive is https://www.youtube.com/watch?v=PWiI00oonls</p>
<p>Now make a toster message service which is reuseable and use it</p>
<button type="button" (click)="Success()">success</button>
<button type="button" (click)="Info()">info</button>
<button type="button" (click)="warning()">warning</button>
<button type="button" (click)="error()">error</button>
